 html {
     background-color: bisque;
 

 }

 .head {
     background: sienna;
     padding: 20px;
     justify-content: space-between;
     display: flex;
     box-shadow: black;
     margin: 0px;
 }

 .head_name {
     font-size: 35px;
 }
.head_name{
    
}
 h1 {
    color: darkblue;
 }

 .button1 {
    border-width: 2px;
  color: black;
  background-color: burlywood;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  text-decoration: wavy;
 }
 
.para1{
   font-size: 35px;
}


 .para2{
    margin:  10px 30px;
    padding: 5px 5px;
    border: 1px;
    width: 550px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
display:inline-block;
 }

 #image1 {
    margin:  10px 30px;
    padding: 5px 5px;
    border: 1px;
    width: 550px;
    font-size: 30px;
    display: inline-block;
 }
 
 h2 {
    color: red;
    align-content: center;
 }