 html {
    background-color: bisque;
 }

 body {
    background-color: white;
    min-height: 75vh;
    display: block;
 }

 .head {
    box-shadow: 0 0 12px -2px black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    height: 80px;
    padding: 10px;
    background: sienna;
    display: flex;
    justify-content: space-between;
 }

 .head_name {
    font-size: 35px;
 }

 .homepage {
    margin-top: 9rem;
 }

 h1 {
    box color: darkblue;

 }

 .button1 {
    border-width: 5px;
    color: black;
    background-color: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-decoration: wavy;
 }

 .button1:hover {
    color: red;
    font-size: 26px;
 }

 .para1 {
    font-size: 35px;
 }

 .image1 {
    width: 542px;
    height: 608px;
margin-left: 19rem;
 }

 .para2 {
    padding-bottom: 20px;
    width: 550px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    text-align: center;
 }

 h2 {
    color:brown;
    align-content: center;
    margin-top: 9rem;
    padding: 10px
 }
 h3{
  font-family: cursive;
  font-size: 30px;
   color:saddlebrown
 }
 .firstimage {
   width: 150px;
   height: 100px;
   display: flex;
flex-direction:unset;
 }
.p1 {
   font-size: 15px;
}

main{
   
   flex-direction: column;
   align-items: center;  
}

